{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        <div class="row">
            <div class="col">
                {{ form_row(form.suspendedTill) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.reason) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.submit) }}
            </div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}